<!DOCTYPE HTML>
<html>
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="cb">
  <h1>Добавление автора</h1>
  <form action="/add2" method="post">
    <input type="text" name="firstName" placeholder="Введите имя" class="form-control"><br>
    <input type="text" name="lastName" placeholder="Введите фамилию" class="form-control"><br>
    <input type="text" name="middleName" placeholder="Введите второе имя" class="form-control"><br>
    <input type="text" name="birthDate" placeholder="Введите дату рождения" class="form-control"><br>
    <button type="submit" class="btn btn-success">Добавить автора</button>
  </form>
</div>
</body>
<html>