<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div style="display: flex; flex-direction: column;">
        <div th:each="el : ${books}" class="alert alert-info mt-2">
            <p th:text="${el.name}"></p>
            <p th:text="${el.creationDate}"></p>
            <div style="display: flex; flex-direction: column; padding-left: 20px">
                <p th:text="${el.author.firstName}"></p>
                <p th:text="${el.author.lastName}"></p>
                <p th:text="${el.author.middleName}"></p>
                <p th:text="${el.author.birthDate}"></p>
            </div>
        </div>
    </div>
</body>
<html>