<!DOCTYPE HTML>
<html>
<body>
<div id="cb">
  <h1>Добавление товара</h1>
  <form action="/add" method="post">
    <input type="text" name="cost" placeholder="Введите цену товара" class="form-control"><br>
    <input type="text" name="name" placeholder="Введите название товара" class="form-control"><br>
    <input type="text" name="pictureName" placeholder="Введите название для фото товара" class="form-control"><br>
    <button type="submit" class="btn btn-success">Добавить блюдо</button>
  </form>
</div>
<footer class="content-container">2022© EvgenShaman. ALL RIGHTS RESERVED</footer>
</body>
<html>