<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="cb">
    <body style="length: 100%; width:100%">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div style="font-size: 10svh">Регистрация</div>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/registration}" method="post">
        <div><label style="font-size: 3svh"> User Name : <input type="text" name="username"  style="font-size: 3svh"/> </label></div>
        <div><label style="font-size: 3svh"> Password: <input type="password" name="password"  style="font-size: 3svh"/> </label></div>
        <div><input type="submit" value="Sign Up"  style="font-size: 5svh"/></div>
    </form>
    <form>
        <a href="/login" style="font-size: 3svh">Sign In</a>
    </form>
    </div>
    </body>
</div>
</body>
</html>